<div class="flex flex-col gap-4 m-12">
  <h1 class="text-3xl font-krona">
    Welcome, <%= current_user.name %>
  </h1>
  <div class="flex w-full gap-2">
    <a href="/articles/new">
      <button class="btn btn-primary">
        Create new articles
      </button>
    </a>
    <a href="/logout">
      <button class="btn btn-error">
        Logout
      </button>
    </a>
  </div>
</div>